<div class="author">
    <h1 class="author_heading">Hii, I am Rajashree.</h1>
    <p class="author_body">Web Developer and content consumer.</p>
</div>

<img src="../img/img2.jpg" alt="image related" class="hero-img" widht="981" height="328">

<section class="articles">
    <h2 class="articles_heading">Latest Posts</h2>
    <ul class="article-ul">
        <% data.forEach(post => { %>
         
        
        <li>
            <a href="/post/<%= post._id %>">
                <span><%= post.title  %></span>
                <span class="article-list_date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>

        <% }) %>
    </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage  %>" class="pagination">&lt; View Older Posts</a>
    <% } %>

    
</section>